@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wulkan Display Font Family */
@font-face {
    font-family: 'Wulkan Display';
    src: url('/assets/font/wulkan-display-2-0-font/Wulkan-Display-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('/assets/font/wulkan-display-2-0-font/Wulkan-Display-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wulkan Display';
    src: url('/assets/font/wulkan-display-2-0-font/Wulkan-Display-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
